@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Indie+Flower&family=Josefin+Sans:wght@300&family=Philosopher&display=swap');

.content {
    max-width: 1600px;
    background-color: #F4F9E9;
}

header {
    background-color: #B08EA2;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 50%;
    padding: 2px;
    padding-left: 20px;
    border-radius: 50%;
    ;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #F4F9E9;
    font-family: 'Indie Flower', 'Caveat', bradley hand;
    text-decoration: none;
    padding: 35px;
    font-size: 20px;
}

nav a:hover {
    background-color: #4B8F8C;
    color: #29335C
}

.title {
    text-align: center;
    color: #4B8F8C;
    font-family: 'Indie Flower', 'Caveat', bradley hand;
    padding-top: 50px;
}

.title h1 {
    font-size: 40px;
}

.grid-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 200px;
}

.first_img {
    grid-column: 2/4;
    grid-row: 1/3;
}

.ing-pic {
    width: 150%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.basics {
    background-color: #4B8F8C;
    text-align: center;
    grid-column: 4/6;
    grid-row: 2/4;
    padding-top: 60px;
    width: 150%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.basics h3 {
    font-family: 'Indie Flower', 'Caveat', bradley hand;
    font-size: 27px;
    color: #29335C;
}

.basics p {
    font-family: 'Philosopher', 'Josefin Sans', palatino;
    padding-left: 65px;
    padding-right: 65px;
    font-size: 20px;
    padding-top: 20px;
    color: #F4F9E9;
}

.started {
    text-align: left;
    grid-column: 2/4;
    grid-row: 4/5;
}

.started h3 {
    font-family: 'Indie Flower', 'Caveat', bradley hand;
    font-size: 25px;
    color: #4B8F8C;
}

.started p {
    font-family: 'Philosopher', 'Josefin Sans', palatino;
    font-size: medium;
    padding-top: 10px;
    font-size: 19px;
    color: #29335C;
}

.started a {
    font-family: 'Philosopher', 'Josefin Sans', palatino;
    text-decoration: none;
    background-color: #B08EA2;
    color: #F4F9E9;
    padding: 7px;
    border-radius: 5px;
    font-size: 19px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.started a:hover {
    color: #29335C
}

.img-two {
    grid-column: 4/6;
    grid-row: 5/7;
}

.fridge {
    width: 150%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.home2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 200px;
}

.info {
    text-align: center;
    background-color: #4B8F8C;
    grid-column: 1/3;
    width: 50%;
    border-radius: 5px;
    padding-bottom: 15px;
    justify-self: center;
    font-size: 19px;
    color: #29335C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.info a {
    font-family: 'Philosopher', 'Josefin Sans', palatino;
    text-decoration: none;
    background-color: #B08EA2;
    color: #F4F9E9;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.info a:hover {
    color: #29335C
}

#burger {
    grid-column: 2/3;
}

.b_img {
    width: 100%
}

#alfre {
    grid-column: 1/2;
}

.a_img {
    width: 100%
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
    text-align: center;
    font-size: 20px;
    color: #29335C;
}

.a-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 100px 1fr;
    padding-top: 200px;
    margin-right: 100px;
}

.name {
    grid-column: 3/4;
    text-align: center;
    color: #4B8F8C;
    font-family: 'Indie Flower', 'Caveat', bradley hand;
    font-size: 20px;
}

.pic {
    width: 150%;
    grid-column: 1/3;
    grid-row: 1/3;
    margin-left: 140px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ingredients {
    grid-column: 3/4;
    text-align: center;
    font-family: 'Philosopher', 'Josefin Sans', palatino;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

.ingredients h4 {
    color: #29335C;
    font-size: 25px;
}

.instructions {
    line-height: 30px;
    grid-column: 1/3;
    grid-row: 4;
    text-align: center;
    font-family: 'Philosopher', 'Josefin Sans', palatino;
    padding-right: 30%;
    padding-left: 30%;
    font-size: 20px;
}

.instructions h4 {
    color: #29335C;
    font-size: 25px;
}

.h-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 100px 1fr;
    margin-left: 100px;
}

.name-h {
    grid-column: 1/2;
    text-align: center;
    color: #4B8F8C;
    font-family: 'Indie Flower', 'Caveat', bradley hand;
    font-size: 20px;
}

.pic-h {
    width: 70%;
    grid-column: 2/4;
    grid-row: 1/3;
    margin-left: 140px;
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hamburger-img {
    grid-column: 2/4;
    grid-row: 1/3;
}

.ingredients-h {
    grid-column: 1/2;
    text-align: center;
    font-family: 'Philosopher', 'Josefin Sans', palatino;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

.ingredients-h h4 {
    color: #29335C;
    font-size: 25px;
}

.instructions-h {
    line-height: 30px;
    grid-column: 2/4;
    grid-row: 4;
    text-align: center;
    font-family: 'Philosopher', 'Josefin Sans', palatino;
    padding-right: 30%;
    padding-left: 30%;
    font-size: 20px;
}

.instructions-h h4 {
    color: #29335C;
    font-size: 25px;
}

.started-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 200px;
}

.full-container {
    grid-column: 1/2;
}

.container-pic,
.cooking-pic {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.t {
    color: #29335C;
    font-family: 'Philosopher', 'Josefin Sans', palatino;
}

.started-grid p {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
}

footer {
    background-color: #B08EA2;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

footer a {
    color: #F4F9E9;
    text-decoration: none;
}

footer a:hover {
    color: #29335C;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}